.nav {
    border-bottom: 5px solid black;
}

.input-group {
    padding-top: 25em;
    width: 50%;
    margin: auto;
}

.pagination a,
.pagination span {
    margin-right: 5mm;
    display: inline-block;
    min-width: 24px;
    text-align: center;
}