{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="../static/style.css">
{% endblock %}

{% block body %}
<h1>Saved Vocabulary</h1>
<table class="table table-bordered">
    <tr>
        <td>Reading</td>
        <td>Furigana</td>
        <td>Word Type</td>
        <td>Translation</td>
    </tr>
    {% for item in words %}
    <tr>
        <td>{{ item.readingJapanese }}</td>
        <td>{{ item.furigana }}</td>
        <td>{{ item.wordType }}</td>
        <td>{{ item.translation }}</td>
    </tr>
    {% endfor %}
</table>
<div class="pagination">
    {% for num in page_numbers %}
        {% if num == page %}
            <span class="active">{{ num + 1 }}</span>
        {% else %}
            <a href="{{ url_for('show_saved_words', page=num) }}">{{ num + 1 }}</a>
        {% endif %}
    {% endfor %}
</div>
<form method="post" action="/clear_saved" style="margin-top: 1em;">
    <button type="submit" class="btn btn-danger">Clear Database</button>
</form>
{% endblock %}